params {
    // Standard configs
    samplesheet=''
    rclone_config=''
    target=''
    outdir = './results'
    tracedir = "${params.outdir}/pipeline_info"
    help = false

    //Slurm controller
    node_partition='main'
}

profiles {
    docker {docker.enabled=true}
    singularity { singularity.enabled=true
                singularity.autoMounts = true
                docker.enabled=false 
  }
  slurm {
    includeConfig 'conf/slurm.config'
    includeConfig 'conf/slurm_resources.config'
  }
}

timeline {
    enabled = true
    file = "${params.tracedir}/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/execution_report.html"
}
trace {
    enabled = true
    file = "${params.tracedir}/execution_trace.txt"
}
dag {
    enabled = true
    file = "${params.tracedir}/pipeline_dag.svg"
}