nodename = params.node_partition
process {
    withLabel:process_low {
        cpus = 4
        memory = 16.GB
        time = 5.h
        queue = nodename
    }
    withLabel:process_medium {
        cpus = 8
        memory = 32.GB
        time = 10.h
        queue = nodename
    }
    withLabel:process_high {
        cpus = 16
        memory = 96.GB
        time = 24.h
        queue = nodename
    }
}